:root{
    // Цвета

         // Тема 1
    --light-primary-color: #333333;
    --light-secondary-color: #ffffff;

        // Тема 2
    --dark-primary-color: #523552;
    --dark-secondary-color: #132111;

    // Размеры
    --font-m: 16px;
    --font-l: 24px;
    --font-xl: 32px;
}